extends layout

block content
	form(action="/games/newgame", method="post")
		div
			input(type="text", name="gametitle", placeholder="Game Title")
		div
			input(type="text", name="gamedescription", placeholder="Description")
		div
		select(name="gamegenre")
			option(value="", selected='selected') Select a Genre
			option(value="Action") Action
			option(value="Shooter") Shooter
			option(value="Adventure") Adventure
			option(value="Role-Playing") Role-Playing
			option(value="Board Game") Board Game
			option(value="Sports") Sports		
		div
			input(type="submit")

